.heros {
    background: $VeryLightGray;
}

.hero {
    @include breakpoint-up(large) {
        display: flex;
        align-items: center;
    }
    &__img {
        position: relative;
        background-image: url(../images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 280px;
        @include breakpoint-up(medium) {
            min-height: 400px;
            background-position: center 60%;
        }
        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 622px;
            background-image: none;
        }
        &::before {
            @include breakpoint-up(medium) {
                background-size: 52%;
            }
            @include breakpoint-up(large) {
                width: 155%;
                background-size: 100%;
                background-position: 0% 107%;
                position: absolute;
                content: "";
                background-image: url(../images/bg-intro-desktop.svg);
                height: 100%;
                background-repeat: no-repeat;
            }
        }
        &::after {
            position: absolute;
            content: "";
            background-image: url(../images/image-mockups.png);
            background-repeat: no-repeat;
            background-position: center 93%;
            height: 100%;
            width: 91%;
            background-size: 84%;
            @include breakpoint-up(large) {
                height: 126%;
                width: 144%;
                left: 15%;
            }
            @include breakpoint-up(medium) {
                background-size: 83%;
            }
        }
    }
    &__text {
        text-align: center;
        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
}